Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
"""
SQL Databases:

Structured Data: SQL databases are relational and follow a tabular structure where data is organized into tables.
Schema: Requires a predefined schema that specifies the structure of the data, including tables, fields, and relationships.
Flexibility: Not as flexible when it comes to changes in data structure. Altering the schema may be challenging.
Scalability: Vertical scaling is the common approach to handle increased load (adding more resources to a single server).
Examples: MySQL, PostgreSQL, SQLite, Oracle.
NoSQL Databases:

Unstructured or Semi-Structured Data: NoSQL databases can handle a variety of data formats, including JSON, XML, key-value pairs, and more.
Schema-less: No strict schema requirements. Fields can be added on the fly, providing flexibility.
Flexibility: Well-suited for dynamic and evolving data with no fixed schema.
Scalability: Horizontal scaling is a common approach, adding more servers to distribute the load.
Examples: MongoDB, Cassandra, CouchDB, Redis.

"""

'\nSQL Databases:\n\nStructured Data: SQL databases are relational and follow a tabular structure where data is organized into tables.\nSchema: Requires a predefined schema that specifies the structure of the data, including tables, fields, and relationships.\nFlexibility: Not as flexible when it comes to changes in data structure. Altering the schema may be challenging.\nScalability: Vertical scaling is the common approach to handle increased load (adding more resources to a single server).\nExamples: MySQL, PostgreSQL, SQLite, Oracle.\nNoSQL Databases:\n\nUnstructured or Semi-Structured Data: NoSQL databases can handle a variety of data formats, including JSON, XML, key-value pairs, and more.\nSchema-less: No strict schema requirements. Fields can be added on the fly, providing flexibility.\nFlexibility: Well-suited for dynamic and evolving data with no fixed schema.\nScalability: Horizontal scaling is a common approach, adding more servers to distribute the load.\nExamples: MongoDB, Cassandra, CouchDB, Redis.\n\n'

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
import sqlite3

# Connect to the SQLite database (creates a new database if not exists)
conn = sqlite3.connect('example_sqlite.db')

# Create a table using the CREATE command
create_table_query = '''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )
'''
conn.execute(create_table_query)

# Insert data into the table
insert_data_query = 'INSERT INTO students (name, age) VALUES (?, ?)'
conn.execute(insert_data_query, ('John Doe', 25))
conn.execute(insert_data_query, ('Jane Smith', 30))

# Commit changes
conn.commit()

# Alter the table by adding a new column
alter_table_query = 'ALTER TABLE students ADD COLUMN grade CHAR(1)'
conn.execute(alter_table_query)

# Truncate the table (remove all records)
truncate_table_query = 'DELETE FROM students'
conn.execute(truncate_table_query)

# Commit changes and close the connection
conn.commit()
conn.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('example_sqlite.db')

# Insert a new student using the INSERT command
insert_data_query = 'INSERT INTO students (name, age, grade) VALUES (?, ?, ?)'
conn.execute(insert_data_query, ('Alice Johnson', 22, 'A'))

# Commit changes
conn.commit()

# Update the age of a student using the UPDATE command
update_data_query = 'UPDATE students SET age = ? WHERE name = ?'
conn.execute(update_data_query, (23, 'Alice Johnson'))

# Commit changes
conn.commit()

# Delete a student using the DELETE command
delete_data_query = 'DELETE FROM students WHERE name = ?'
conn.execute(delete_data_query, ('Alice Johnson',))

# Commit changes and close the connection
conn.commit()
conn.close()

Q4. What is DQL? Explain SELECT with an example

In [4]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('example_sqlite.db')

# Execute a SELECT query to retrieve all students
select_query = 'SELECT * FROM students'
result = conn.execute(select_query).fetchall()

# Display the result
for row in result:
    print(row)

# Close the connection
conn.close()

Q5. Explain Primary Key and Foreign Key.

In [5]:
import sqlite3

# Connect to SQLite database (or create if not exists)
conn = sqlite3.connect('university.db')
cursor = conn.cursor()

# Create students table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        student_id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER
    )
''')

# Insert sample data into students table
cursor.executemany('INSERT INTO students (name, age) VALUES (?, ?)', [
    ('Alice', 20),
    ('Bob', 22),
    ('Charlie', 21)
])

# Create courses table with a foreign key referencing students table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS courses (
        course_id INTEGER PRIMARY KEY,
        course_name TEXT,
        student_id INTEGER,
        FOREIGN KEY (student_id) REFERENCES students (student_id)
    )
''')

# Insert sample data into courses table
cursor.executemany('INSERT INTO courses (course_name, student_id) VALUES (?, ?)', [
    ('Math', 1),
    ('History', 2),
    ('Physics', 3)
])

# Commit changes and close connection
conn.commit()
conn.close()

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="abcr",
    password="password",
    database="test3"
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Execute a simple query to create a table
table_creation_query = '''
    CREATE TABLE IF NOT EXISTS employees (
        emp_id INT AUTO_INCREMENT PRIMARY KEY,
        emp_name VARCHAR(255),
        emp_salary DOUBLE
    )
'''
cursor.execute(table_creation_query)

# Insert data into the table using the execute method
employee_data = [
    ("John Doe", 50000),
    ("Jane Smith", 60000),
    ("Bob Johnson", 55000)
]

insert_query = "INSERT INTO employees (emp_name, emp_salary) VALUES (%s, %s)"
cursor.executemany(insert_query, employee_data)

# Commit the changes to the database
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()